.venv/
data/
models.txt
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.bak

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.tmproj
*.esproj
*.c9project
*.pid
*.pid.lock
*.suo
.zed/
.project
